<!-- about.hbs -->

<div class="row">
    <section class="main col-md-9">
        <article>
        <h2>About</h2>
        <p>Hey there! I'm Mohsen, a college student studying computer programming and analysis at Seneca College. I'm passionate about merging art with code and designing digital art. I also have a keen interest in electronics, robotics, and machine learning.</p>
        <p>My goal is to combine my programming skills with my background in electronics and love for art to create innovative projects. I want to develop unique installations, interactive artworks, and cutting-edge robotics applications that push the boundaries of creativity.</p>
        <p>As a college student, I'm always learning and staying updated with the latest advancements in technology. Join me on this exciting journey of blending art, programming, and technology. Check out my portfolio and feel free to reach out for collaborations!</p>
        <p>Thanks for stopping by!</p>
        <p>Mohsen</p>
        </article>
    </section>
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Keep your mouse-clicking finger ready for exciting updates... </p>
    </aside>
</div>
